@* below specifies that the model for this view is a list of Category objects﻿ *@
@model List<Category>

@* This section defines the title of the page *@
@section title {
    <h3>
        Categories
    </h3>
}

@* checks if the model is not null and contains at least one category. If so, it displays the list of categories. *@
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><a class="btn btn-link" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="categories" asp-action="delete" asp-route-categoryId="@category.CategoryId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

}

<br />
<a class="btn btn-primary" asp-controller="categories" asp-action="add">Add</a>

@* This section includes JavaScript code for the view. it defines a JavaScript function confirmDelete() that prompts the user for confirmation before deleting a category. *@
@section Scripts  {
    <script>
        function confirmDelete(){
            return confirm("Are you sure you want to delete?")
        }
    </script>
}